/* ESTRUCTURA DE CSS:
        SPV= 
        °SELECTOR= ETIQUETA/CLASE/ID.
        °PROPIEDAD= ATRIBUTO/CARACTERÍSTICA QUE DA ESTRUCTURA.
        °VALOR= TAMAÑO O VALOR QUE ADQUIERE ESA PROPIEDAD.*/

/*RESET CSS= ESTILOS RESETEADO PARA TRABAJR DESDE 0
PARTIMOS DEL LLAMADO "*" = TODO EL DOC HTML*/

/*
LOS ATRIBUTOS LOS LLAMAMOS DE LA SIGUIENTE MANERA:
                ID= #
                CLASS= .
                ETIQUETA/SELECTOR= POR SU SIMPLE NOMBRE.
*/

/*
////////////////////////////////////////////////////////////
ESTILOS RESET
////////////////////////////////////////////////////////////
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li , a {
    display: inline-block;
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: black;
}

#body {
    max-width: 1440px; /*ANCHO MÁXIMO DECLARADO*/
    margin: 0 auto; /*CENTRADO DE CONTENIDO HORIZONTALMENTE*/
}
#main {
    width: 100%;
    min-height: 100vh;/*MAIN OCUPANDO SIEMPRE EL 100% DEL VIEWPORT*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue
}



/*
////////////////////////////////////////////////////////////
ESTILOS FUENTES
////////////////////////////////////////////////////////////
*/
/*TIPOGRAFÍA NUNITO SANS= HEADER/FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');
#header , #footer {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/*TIPOGRAFÍA ROBOTO= MAIN*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
#main{
    font-family: 'Open Sans', sans-serif;
}

/*
////////////////////////////////////////////////////////////
ESTILOS DEL NAVBAR
////////////////////////////////////////////////////////////
*/

#header {
    backdrop-filter: blur(5px); 
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    background-color: rgba(146, 194, 118, 0.571);
    position: sticky;
    top: 0;
    width: 100%;
}
.container-fluid {
    z-index: 100;
}
.navbar-brand .fa-user{
    font-size: 80px;
}


.cont-carrusel{
    width: 100% !important;
    height: 50% !important;
}














/*METODO SIN BEM*/
#bannerPrincipal article h1 {

}


/*METODO CON BEM*/
.bannerPrincipal-pizza1__img {

}

.footerRedes a:nth-child(1) i{
    background-color: red;
}




/*
////////////////////////////////////////////////////////////
ESTILOS DEL INDEX / MAIN
////////////////////////////////////////////////////////////
*/

/*
////////////////////////////////////////////////////////////
ESTILOS SECCION INDEX #1
////////////////////////////////////////////////////////////
*/
#bannerPrincipal {
    width: 100%;
    height: auto;
    background-color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}

.bannerPizzaBox {
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    box-shadow: 1px 5px 5px rgb(85, 85, 85);
}

.bannerPizzaBox:active {
    box-shadow: 6px 5px 5px rgb(85, 85, 85);
    transition: 1s;
}


.bannerPizzaBox img {
    width: 90px;
}

.bannerPizzaBox h1 {
    letter-spacing: 5px;
}




/*
////////////////////////////////////////////////////////////
ESTILOS DEL PAGE PIZZAS / GRILLAS
////////////////////////////////////////////////////////////
*/


h1 {
    color: aqua;
    -webkit-text-stroke: 3px red;
    font-size: 12px;
}



#grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    grid-template-areas: 
    "hijoGrid1 hijoGrid2"
    "hijoGrid3 hijoGrid4"
    ;
}

.boxGridHijos img{
    width: 100%;
    height: 100%;
}

.hijoGrid1 {
    grid-area: hijoGrid1;
}
.hijoGrid2 {
    grid-area: hijoGrid2;
}
.hijoGrid3 {
    grid-area: hijoGrid3;
}
.hijoGrid4 {
    grid-area: hijoGrid4;
}







/*
////////////////////////////////////////////////////////////
ESTILOS DEL FOOTER
////////////////////////////////////////////////////////////
*/
#footer {
    margin-top: auto;
    width: 100%; /*EL 100% RESPECTO AL ANCHO DISPONIBLE EN PANTALLA.*/
    height: auto; /*GENERA EL ESPACIO REPECTO AL CONTENIDO ALOJADO DENTRO.*/
    background-color: #5d5d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
/*ESTILOS FOOTER LOGO*/
.footerLogoImg {
    width: 200px;
    height: 200px;
}

/*ESTILOS FOOTER LINKS*/
.footerLinks {
    text-align: center;
}
.footerLinks ul li {
    display: block;
    font-size: 20px;
    color: white;
}
.footerLinks a {
    color: white;
    margin-top: 10px;
}


/*ESTILOS FOOTER REDES*/
.footerRedes {
    display: flex;
    align-items: center;
}

.footerRedes a {
    font-size: 40px;
    margin-left: 15px;
    color: white;
    width: 60px;
    padding: 10px;
    border-radius: 100%;
    border: 1px dotted black;
    text-align: center;
}









.boxPrueba {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    padding-top: 200px;
}

.boxPruebaHijo {
    width: 250px;
    height: 250px;
    background-color: darkolivegreen;
    margin: 0 auto; /*PRIMER VALOR= TOP/BOTTOM
                    SEGUNDO VALOR= LEFT/RIGHT*/
    overflow: auto; /*PROPIEDAD QUE AJUSTA EL CONTENIDO RESPETANDO EL TAMAÑO DE LA CAJA*/
    padding: 20px 30px 40px;
    border: 5px solid red;

    /*TANTO PADDING BODER Y MARGIN APLICAN A LO SIGUIENTE:
        
    1 SOLO VALOR= APLICA A SUS 4 LADOS.
    2 VALORES= APLICA PRIMERO AL TOP/BOTTOM Y LEFT Y RIGHT.
    3 VALOR = APLICAN PRIMERO TOP LUEGO AL LEFT Y RIGHT Y POR ÚLTIMO AL BOTTOM
    4 VALORES= APLICAN POR SEPARADO A CADA LADO
    */
}

/*
////////////////////////////////////////////////////////////
BREACKPOINTS
////////////////////////////////////////////////////////////
*/

@media (max-width: 600px) {
    #grid3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "hijoGrid1"
        "hijoGrid2"
        "hijoGrid3"
        "hijoGrid4"
        ;
    }

    #footer {
        flex-direction: column;
        gap: 20px;
    }

    #header {
        height: auto;
    }
    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #nav ul li {
        display: block;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    #main {
        background-color: red;
    }
}

@media (min-width: 768px) and (orientation: landscape) {

}

